
@import "nullstyle.scss";
@import "variables.scss";
@import "snippets.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500;700&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
.header {
    flex: 1 0 auto;
}
.main {
    flex: 1 1 auto;
}
.footer {
    flex: 0 0 auto;
}

.container{
    box-sizing: content-box;
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 20px;
    font-family: $mainFont;
}

@import "header.scss";
@import "about.scss";
@import "experience.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "footer.scss";