//шрифты
$mainFont:'Inter', sans-serif;
$minorFont:'Plus Jakarta Sans', sans-serif;

//Ширина и высота
$maxWidthContainer: 1333px;

//Цвета
$fontColorBlack: #232e35;
$fontColorGreen: rgb(119, 145, 104);
$fontColorGrey: #656d72;
$backgroundColorWhite: #fff;
$backgroundColorBlack: #232e35;
$backgroundColorGreen:rgb(119, 145, 104);
$backgroundColorGreen-light:rgb(246, 250, 243);
$backgroundColorLightGrey:#f1f1f1;
$backgroundColorLightGreen:rgb(214, 224, 208);;